.header-modal {
  display: flex;
  justify-content: space-between;
}

.closed {
  color: #c4c4c4;
  width: 20px;
  height: 20px;
}

.p-header {
  --padding-top: 0;
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-items: center;
  margin-top: 0;
  vertical-align: middle;
}

.p-center {
  text-align: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.icon-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-icon {
  width: 90px;
  height: 80px;
  color: green;
}

ion-button {
  --background: #402050;
}
