<ion-header>
    <ion-toolbar>
        <ion-title>Procure um Pet</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <!-- <form [formGroup]="formGroupDoacao" (ngSubmit)="doacao()"> -->
    <ion-item lines="none">
        <ion-label position="stacked">Filtros</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-button expand="block" [routerLink]="['/tabs/feed']">Encontre um amigo</ion-button>
    <ion-button expand="block" fill="clear" [routerLink]="['/home']">Voltar</ion-button>

    <!-- </form> -->

</ion-content>