<ion-header>
  <ion-toolbar>
    <ion-title>
      Últimas adoções
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let pet of pets">
    <ion-card-header>
      <ion-card-subtitle>
        <p>{{pet.nomeTutor}}</p>
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-icon name="paw"></ion-icon>
        <ion-icon name="arrow-forward"></ion-icon>
        <p>Pedro</p> 
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        <span>{{pet.nome}}</span>
        foi adotado por Pedro, e quem proporcionou esse encontro foi o {{pet.nomeTutor}}, que demais!
      </p>
    </ion-card-content>

  </ion-card>

</ion-content>