<ion-header>
  <ion-toolbar>
    <ion-title>
      Últimas adoções
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <p>Luís</p>
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-icon name="paw"></ion-icon>
        <ion-icon name="arrow-forward"></ion-icon>
        <p>Pedro</p> 
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        <span>Batata</span>
        foi adotado por Pedro, e quem proporcionou esse encontro foi o Luís, que demais!
      </p>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <p>Lucas</p>
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-icon name="paw"></ion-icon>
        <ion-icon name="arrow-forward"></ion-icon>
        <p>Bruna</p> 
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        <span>Café</span>
        foi adotado por Bruna, e quem proporcionou esse encontro foi o Lucas, que demais!
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>