<ion-header>
  <ion-toolbar>
    <ion-title>
      Pets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
      <ion-card-content [routerLink]="['/info-dog']">

        <ion-slides>

          <ion-slide>
            <div>
              <ion-img src="../assets/pets/batata.jpeg"></ion-img>
              <p>BATATA</p>
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <ion-img src="../assets/pets/batata.jpeg"></ion-img>
              <p>PEDRITA</p>
            </div>
          </ion-slide>

        </ion-slides>
        

      </ion-card-content>
    </ion-card>

</ion-content>