<ion-header>
  <ion-toolbar>
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-slides>

    <ion-card>
      <ion-card-content>
        <ion-slides class="pets">
          <ion-slide class="pet">
            <div class="me-adote">
              <ion-img src="/assets/pets/batata.jpeg"></ion-img>
              Me leve pra casa :(
            </div>
          </ion-slide>
          <ion-slide class="pet">
            <div class="me-adote">
              <ion-img src="/assets/pets/batata.jpeg"></ion-img>
              Me leve pra casa2 :(
            </div>
          </ion-slide>
        </ion-slides>
      </ion-card-content>
    </ion-card>

  </ion-slides>

</ion-content>