<ion-content padding>

  <ion-grid class="full-heigth">
    <ion-row class="ion-align-items-center full-heigth">
      <ion-col>
        <div class="buttons">
          <div class="ion-align-items-center">
            <ion-icon name="paw"></ion-icon>
          </div>
          <p>Olá! Escolha uma opção</p>
          <ion-button [routerLink]="['/tabs/feed']">Adotar</ion-button>
          <ion-button [routerLink]="['/subscribe-donation']">Doar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>